html, body {
    height: 100%;
}

@media (max-width: 770px) {
    #force-height {
        display: none;
    }
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}
